<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fandianlo.backend.mapper.DishesMapper">
    <select id="getTopThreeDishes" resultType="com.fandianlo.backend.pojo.dishes">
        SELECT * FROM dishes WHERE dishes_shop = #{shopId} ORDER BY dishes_id LIMIT 3
    </select>
    <select id="getDishesByShopId" resultType="com.fandianlo.backend.pojo.dishes">
        SELECT * FROM dishes WHERE dishes_shop = #{shopId}
    </select>
    <select id="getDishesByKeyWords" resultType="com.fandianlo.backend.pojo.dishes">
        SELECT * FROM dishes WHERE dishes_name LIKE CONCAT('%', #{kw}, '%')
    </select>
    <select id="getDishesByDNumAndDFloor" resultType="java.lang.String">
        SELECT dishes_shop FROM dishes  WHERE dishes_num = #{num} AND dishes_floor = #{floor}
    </select>
    <select id="getDishesByDNumAndDFloorAndDShop" resultType="com.fandianlo.backend.pojo.dishes">
        SELECT * FROM dishes  WHERE dishes_name not like '%加%' AND  dishes_name not like '%口味%' AND  dishes_name not like '%小菜%' AND dishes_num = #{num} AND dishes_floor = #{floor} AND dishes_shop = #{shop}
    </select>
</mapper>